# ignore configs
config.ini
userconfig.ini

# ignore Google Auth data
source/postprocessing/client_secrets.json
source/postprocessing/mycreds.txt

# ignore datasets
data

# ignore all sandboxes
Sandboxes

# ignore notebooks except public
notebooks
!notebooks/CompareDatasets.ipynb
!notebooks/GridSearch.ipynb.ipynv
!notebooks/UsageExamples.ipynb

# ignore legacy
source/preprocessing/Features_selection.py
source/preprocessing/cesars.py
source/processes/base.py
source/processes/bootstraps.py
source/processes/Stats_features.py
*.pyc

# ignore experiments results in json format
*.json

# ignore images except public and readme
experiments/images/*
!experiments/images/public/
!experiments/images/ReadMe/

# ignore result tables except public
*.csv
*.xlsx
experiments/ResultTables/*
!experiments/ResultTables/public/

# ignore team files
/team files/*

# ignore IDE files
/.idea/*
README.md
SF_part.md
